<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

<title>{% block title %}Asosiy sahifa{% endblock title %}</title>
  <h1>Landing page</h1>
    <div class="w3-bar w3-black">
        <a href="{% url 'users:register' %}" class="w3-bar-item w3-button">Register</a>
        <a href="{% url 'book:list' %}">Books</a>/
        <a href="{% url 'users:profile' %}">Profile</a>/
        <a href="{% url 'book:home' %}">Home page</a>/
        {% if request.user.is_authenticated %}
            <a href="{% url 'users:logout' %}">Logot</a> <br>
        {% else %}
            <a href="{% url 'users:login' %}">Login</a> <br>
        {% endif %}
    </div>
</head>
<body>
{% if messages %}
  {% for message in messages %}
      <span class="{{ message.tags }}">{{ message }}</span>
  {% endfor %}
{% endif %}


{% block content %}

{% endblock content %}
</body>
</html>